body{
    background: rgb(127,118,255);
    background: linear-gradient(0deg, rgba(127,118,255,1) 0%, rgba(182,167,255,1) 38%, rgba(191,214,174,1) 100%, rgba(199,255,102,1) 100%, rgba(184,98,98,1) 100%);
}  
h2{
    font-family: 'Akaya Telivigala', cursive;
}
h1{
    margin: auto;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
header p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
header p strong{
    color: darkorange;
}
hr{
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li p span{
    font-weight: bold;
    text-transform: uppercase;
}
ul li p{
    text-transform: capitalize;
}
.pStatement{
    font-style: italic;
}
.cards {
    display: flex;
    justify-content: space-around;
    width: 700px;
}
.card{
    display: flex;
    justify-content: space-around;
}
.card>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
